<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Biblioteca</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
              <a *ngIf="!token" class="nav-link" href="/bilioteca/login">login</a> 
              <div></div>
              <button  *ngIf = "token" type="button" class="btn btn-info btn-short "(click)="decode()" >Ver Libros</button> 
            </div>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success" type="submit">Search</button>
      <a *ngIf="token" class="nav-link" style="color: aliceblue;">{{mm}}</a> 
      <button *ngIf="token" class="btn btn-danger btn-circle btn-sm" (click)= "alv()">x</button>
    </form> 

   
</nav>
<br>
<br>
<br>
<br>

<div class="container d-flex justify-content-around p-4" >
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem; height: 50ram;">
        <div class="card-header">05</div>
        <div class="card-body">
          <h5 class="card-title">No hace falta quemar libros</h5>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div class="card-footer">
            
        </div>
      </div>
  
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;height: 16ram;">
        <div class="card-header">06</div>
        <div class="card-body">
          <h5 class="card-title">si el mundo empieza</h5>
        </div>
        <div class="card-footer">
            
        </div>
      </div>
      <div class="card text-white bg-danger mb-3" style="max-width: 18rem;height: 16ram;">
        <div class="card-header">07</div>
        <div class="card-body">
          <h5 class="card-title">a llenarse de gente que</h5>
        </div>
        <div class="card-footer">
            
        </div>
      </div>
      <div class="card text-white bg-warning mb-3" style="max-width: 18rem;height: 16ram;">
        <div class="card-header">08</div>
        <div class="card-body">
          <h5 class="card-title">no lee,</h5>
        </div>
        <div class="card-footer">
            
        </div>
      </div>
      <div class="card text-white bg-info mb-3" style="max-width: 18rem;height: 16ram;">
        <div class="card-header">09</div>
        <div class="card-body">
          <h5 class="card-title">que no aprende,</h5>
        </div>
        <div class="card-footer">
            
        </div>
      </div>
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;height: 16ram;">
        <div class="card-header">10</div>
        <div class="card-body">
          <h5 class="card-title">que no sabe...</h5>
        </div>
        <div class="card-footer">

        </div>
      </div>
     
</div>
<div class="card d-flex flex-row-reverse bd-highlight border-0">
    <h4 class="color">Ray Brabdury</h4>   
    <h4 >Ray Brabdury</h4> 
</div>
<div class="card d-flex flex-row-reverse bd-highlight border-0">
    <h4 class="color">Ray Brabdury</h4>   
    <h5 >Fahrenheit 451</h5> 
</div>
   
