<div style="background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Biblioteca</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
              <a *ngIf="!token" class="nav-link" href="/bilioteca/login">login</a> 
              <div></div>
              <button  *ngIf = "token" type="button" class="btn btn-info btn-short "(click)="decode()" >Ver Libros</button> 
            </div>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <a *ngIf="token" class="nav-link" style="color: aliceblue;">{{mm}}</a> 
      <button *ngIf="token" class="btn btn-danger btn-circle btn-sm" (click)= "alv()">x</button>
    </form> 
</nav>

<div class="card">
  <div class="card-body">
		  <h1>Porque no hace falta quemar libros si el mundo empieza a llenarse de gente que no lee, que no aprende, que no sabe</h1>
		  <br>
   <div class="card d-flex flex-row-reverse bd-highlight border-0">
    <h4 class="color">Ray Brabdury</h4>   
    <h4 >Ray Brabdury</h4> 
</div>
<div class="card d-flex flex-row-reverse bd-highlight border-0">
	    <h4 class="color">Ray Brabdury</h4>   
    <h5 >Fahrenheit 451</h5> 
	</div>
 
  </div>
</div>

</div>
