<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Biblioteca</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
   
             
              <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
              <a *ngIf="!token"class="nav-link" href="/bilioteca/login">login</a> 
            </div>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success" type="submit">Search</button>
      <a *ngIf="token" class="nav-link" style="color: aliceblue;">{{mm}}</a> 
      <button *ngIf="token" class="btn btn-danger btn-circle btn-sm" (click)= "alv()">x</button>
    </form> 

</nav>

<div class="card p-1">

  <ul class="nav nav-tabs primary">
      <li   class="nav-item">
        <a class="nav-link " href="bilioteca/readusers">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="bilioteca/readbooks">Books</a>
      </li>
    </ul>
  
  <table class="table" >
      <thead class="table-primary">
          <tr> 
              <th scope="col">temas</th>
              <th scope="col">tipo</th>
              <th scope="col">autor</th>
              <th scope="col">titulo</th>
              <th scope="col">edicion</th>
              <th scope="col">copias</th>
              <th scope="col">descripcion</th>
              <th scope="col">disponibles</th>
              <th scope="col">ejemplares</th>
              <th scope="col">frecuencia</th>
              <th scope="col">Options</th>
            </tr>
      </thead>
      <tbody>
          <tr *ngFor = "let boo of books"> 
              <td>{{boo.temas}}</td>
              <td>{{boo.tipo}}</td>
              <td>{{boo.autor}}</td>
              <td>{{boo.titulo}}</td>
              <td>{{boo.edicion}}</td>
              <td>{{boo.copias}}</td>
              <td>{{boo.descripcion}}</td>
              <td>{{boo.disponibles}}</td>
              <td>{{boo.ejemplares}}</td>
              <td>{{boo.frecuencia}}</td>
              <td class="d-flex justify-content-between">
                <button type="button" class="btn btn-primary btn-circle btn-sm" (click)="takeData(boo)">✎</button> 
                <button type="button" class="btn btn-warning btn-circle btn-sm"(click)="takeData(boo)" >♻️</button> 
                <button type="button" class="btn btn-info btn-short btn-sm"(click)="prestar(boo)">prestar</button> 
               </td>
          </tr>
      </tbody>
  </table>
  <div class="card-footer">
    <a class="btn btn-primary "href="/bilioteca/addbook">Añadir Libro</a>
    <a class="btn btn-info "href="/bilioteca/mybooks">Mis Libros</a>
  </div>
</div>

