<div class="container p-4" style="height: 40rem; width:15rem ;">
    <div class="card border-dark mb-3" style="width: 25rem; height: 40rem;">
        <div class="card-header">Usuario</div>
        <div class="card-body text-dark">
          <h5 class="card-title">{{nombre + " "+ apellido}}</h5>
          <p class="card-text">{{correo}}</p>
          <p class="card-text">{{libros}}</p>
       
        </div>
        <a href="bilioteca/readusers" class="btn btn-danger">Volver</a>
      </div>
</div>