<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Biblioteca</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
   
              <a *ngIf="token" class="nav-link" href="/bilioteca/logout">LogOut</a>
              <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
              <a *ngIf="!token"class="nav-link" href="/bilioteca/login">login</a> 
            </div>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success" type="submit">Search</button>
      <a *ngIf="token" class="nav-link" style="color: aliceblue;">{{mm}}</a> 
      <button *ngIf="token" class="btn btn-danger btn-circle btn-sm" (click)= "alv()">x</button>
    </form> 

</nav>
    <div class="card p-1">
      <ul class="nav nav-tabs primary">
        <li class="nav-item">
          <a class="nav-link active" href="bilioteca/readusers">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="bilioteca/readbooks">Books</a>
        </li>
      </ul>
      <table class="table" >
          <thead class="table-primary">
              <tr> 
                  <th scope="col">ID</th>
                  <th scope="col">name</th>
                  <th scope="col">carnet</th>
                  <th scope="col">rol</th>
                  <th scope="col">lastname</th>
                  <th scope="col">email</th>
                  <th scope="col">username</th>
                  <th scope="col">Options</th>
                </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let usu of usuarios"> 
                  <td>{{usu._id}}</td>
                  <td>{{usu.name}}</td>
                  <td>{{usu.carnet}}</td>
                  <td>{{usu.rol}}</td>
                  <td>{{usu.lastname}}</td>
                  <td>{{usu.email}}</td>
                  <td>{{usu.username}}</td>
                  <td class="d-flex justify-content-around">
                 <button type="button" class="btn btn-primary btn-circle btn-sm" (click)="takeData(usu)">✎</button> 
                 <button type="button" class="btn btn-warning btn-circle btn-sm" (click)="deletData(usu)">♻️</button> 
                 <button type="button" class="btn btn-info btn-circle btn-sm" (click)="ver(usu)">👁</button> 
                
                 
   
                  </td>
              </tr>
          </tbody>
      </table>
      <div class="card-footer">
        <a class="btn btn-primary "href="/bilioteca/register">Añadir usuario</a>
      </div>
      <div class="card">
          <form action=""></form>
      </div>
     
    </div>
   
  